.conta-abas{
    margin: 40px 0px;
    margin-right: 0px;
}

.perfil{
    margin-top: 40px;
}

.perfil-imagem{
    height: 75px;
    width: 75px;
    margin: auto;
}

.perfil-imagem img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.perfil-nick{
    width: 100px;
    margin: auto;
    margin-top: 20px;
}

.perfil-nick input{
    width: 100px;
    background-color: transparent;
    color: var(--cor-c11);
    border: none;
    text-align: center;
    outline: none;
}

.perfil-nick span{
    display: block;
    width: 100px;
    background-color: transparent;
    color: var(--cor-c11);
    border: none;
    text-align: center;
    outline: none;
}

.perfil-nick input:focus{
    text-decoration: underline;
}

@media (max-width:800px) {
    .conta-abas{
        height: 57px;
        margin: 0px;
        position: relative;
    }

    .perfil-nick{
        display: none;
    }

    .perfil-imagem{
        width: 41px;
        height: 41px;
        margin: 0px;
    }

    .perfil{
        background: linear-gradient(0deg, var(--cor-c1), var(--cor-c0));
        width: calc(100% - 24px);
        margin: 0px;
        padding: 8px 12px 8px 12px;
        top: 0px;
        left: 0px;
        position: absolute;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
    }
}

/* abas */

.abas{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

@media (max-width:800px) {
    .abas{
        display: none;
    }
}
.aba{
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 8px;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 100%
}

.aba.sel{
    background: var(--cor-c1);
}

.aba > span{
    color: var(--cor-c1);
    font-size: 1.8rem;
}

.aba.sel > span{
    color: var(--cor-c10);
}