.conteudo{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: calc(100vh - 100px);
}

@media (max-width:800px) {
    .conteudo{
        height: calc(100vsh - 100px);
        grid-template-columns: 1fr;
    }
}