.controles-bg{
    background-color: var(--cor-c2);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.controles{
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 60px;
}

@media (max-width: 1000px) {
    .controles{
        gap: 40px;
    }
}

@media (max-width: 900px) {
    .controles{
        gap: 20px;
    }
}

/* nome da musica e cantor */

.controles-musica{
    justify-self: start;
    display: grid;
    grid-template-columns: auto 100px;
    gap: 20px;
}

.controles-musica-dados{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}

.controles-musica-cantor{
    text-decoration: none;
    cursor: pointer;
    margin-top: 4px;
}

.controles-musica-cantor:hover{
    text-decoration: underline;
}

.controles-musica-img{
    width: 100px;
    height: 100px;
    position: relative;
}

.controles-musica-img > img{
    height: 100px;
    width: 100px;
    position: absolute;
    top: -36px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

/* audio */

.audio{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.audio-info{
    margin-top: 18px;
    width: 100%;
    display: flex;
    gap: 8px;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

#timer-agora{
    max-width: 30px;
    min-width: 30px;
    text-align: right;
}

.audio-controles > span{
    cursor: pointer;
    font-size: 2.5rem;
    margin-top: 4px;
    height: fit-content;
    align-items: center;
    font-weight: 900;
}

.barra-tempo{
    position: relative;
    height: 8px;
    max-width: 540px;
    min-width: 240px;
    width: 100%;
    background-color: var(--cor-c4);
}

.barra-tempo:hover #slider-tempo::-webkit-slider-thumb{
    background: var(--cor-c0);
    /* box-shadow: 0px 0px 8px var(--cor-c0); */
}

#timer-agora, #timer-duracao{
    width: 30px;
}

#slider-tempo{
    max-width: 540px;
    min-width: 240px;
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    appearance: none;
    background-color: transparent;
}

/* bolinha que controla o tempo da musica */
#slider-tempo::-webkit-slider-thumb{
    -webkit-appearance: none;
    cursor: pointer;
    background-color: var(--cor-c11);
    height: 8px;
    width: 10px;
}

@media (max-width:800px) {
    .controles{
        height: 82px;
        grid-template-columns: 0px auto;
    }

    .controles-musica{
        grid-template-columns: auto;
        position: relative;
        height: 0px;
        left: -20px;
        top: -80px;
        width: 100dvw;
    }
    .controles-musica-img{
        display: none;
    }

    #slider-tempo::-webkit-slider-thumb{
        width: 4px;
    }

    .barra-tempo:hover #slider-tempo::-webkit-slider-thumb{
        background-color: var(--cor-c11);
    }

    .barra-tempo{
        min-width: auto;
    }

    #slider-tempo{
        min-width: auto;
    }

    .controles-musica-dados{
        padding-left: 20px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: var(--cor-c1);
    }

    .audio-info{
        margin-top: 8px;
    }
}

@media (max-width: 500px) {
    .controles{
        gap: 0px;
    }
}


/* volume */

.controle-volume{
    position: relative;
    align-self: center;
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 8px;
}

@media (max-width:800px) {
    .controle-volume{
        display: none;
    }
}

.controle-volume span{
    cursor: pointer;
}

.barra-volume{
    height: 8px;
    width: 128px;
    background-color: var(--cor-c4);
}

#slider-volume{
    width: 128px;
    height: 8px;
    position: relative;
    top: -6px;
    appearance: none;
    background-color: transparent;
}

#slider-volume::-webkit-slider-thumb{
    cursor: pointer;
    appearance: none;
    height: 8px;
    width: 10px;
    background-color: var(--cor-c11);
}

.barra-volume:hover #slider-volume::-webkit-slider-thumb{
    background: var(--cor-c0);
    /* box-shadow: 0px 0px 8px var(--cor-c0); */
}